@import "tailwindcss";

[data-theme="light"] {
    --bg-primary: #ffffff;
    --bg-secondary: #f9fafb;

    --text-primary: #0b0c0f;
    --text-secondary: #6b7280;

    --color-primary: #155dfc;
    --color-secondary: #e5e7eb;

    --shadow-primary: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --bg-primary: #111318;
    --bg-secondary: #29312e;

    --text-primary: #ffffff;
    --text-secondary: #ddfff1;

    --color-primary: #155dfc;
    --color-secondary: #7e85b4;

    --shadow-primary: rgba(0, 0, 0, 0.1);
}

.set__copy__not__allow {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.set__copy__allow {
    user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}